
body {

background-image: url("cat_body.png");

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

background-color: #000000;

}

#left_avatar{
	width:8.4%;
	height:16%;
	border :0px solid blue;
	border-radius:  60% 80%;
	box-shadow: 20px 20px 50px #000000 inset;
	overflow: hidden;
    display: inline-block;
	position:absolute;
	top:28%;
	left:31.5%;
	text-align: center;
}

#left_eye{
	position:absolute;
	height:33vmin;
	width:30vmin;
	
	top:-10vmin;
	bottom:0px;
	left:-6.5vmin;
	right:0px;
}

#right_avatar{
	width:9.4%;
	height:16%;
	border :0px solid blue;
	box-shadow: 20px 20px 50px #000000 inset;
	border-radius:  60% 60%;
	overflow: hidden;
    display: inline-block;
	position:absolute;
	top:35.8%;
	left:52.1%;
	text-align: center;

}

#right_eye{
	position:absolute;
	height:35vmin;
	width:30vmin;
	
	top:-10vmin;
	bottom:0px;
	left:-5vmin;
	right:0px;
	
}
